svg(width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
    <circle cx="9.5" cy="9.71094" r="9" fill="#00674C"/><circle cx="9.49902" cy="9.71094" r="4.30762" fill="#EC293F"/>
          