svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
    <circle cx="9.36328" cy="9.72461" r="9" fill="#F0F0F0"/><circle cx="9.3623" cy="9.72461" r="4.30762" fill="#D80027"/>
          