extends container 

block content
  .d-flex.flex-column.h-100
    .d-flex.flex-column.justify-content-center.flex-grow-1.text-center
      h1.mb-2.fw-medium.display-1 Contact us
      p= message

    a.btn.btn-primary.w-100.mb-3.p-2.fw-bold.text-truncate(href="https://xgateway.tech/demo-form/" role="button" target="_blank") Book a call