extends base

block container 
   .container.bg-light
      .row.h-100
         .col  
            .card.rounded-1.m-auto.border-0.bg-light.h-100 
               .card-header.border-0.bg-transparent.p-2.py-4.pb-2
                  .border.border-1.rounded-1.bg-white
                     .mb-0.p-3.text-center.fw-bold.text-truncate
                       .mx-auto.w-25
                        img.img-fluid(src='logo.png' alt="xgateway-logo")

               .card-body.p-2
                  block content
