extends container 

block content
   .text-center
     h1.mb-4.fw-medium.display-1 Contact us
     p= message
       span  Please contact our sales team to arrange a demo for peer-to-peer payments
    
   .btn.btn-primary.w-100.mb-4.p-2.fw-bold.text-truncate Book a call