extends container 

block content
  .d-flex.flex-column.justify-content-center.h-100
    .text-center
      .fw-medium.text-danger.error-text= status
      p.mb-5= message
        span  Try again and start a new deposit.
