extends container 

block content
 .d-flex.flex-column.h-100
  .d-flex.flex-column.justify-content-center.h-100.text-center
      .fw-medium.text-danger.error-text Time out
      p.mb-2 Your invoice has expired. Please return and start a new deposit.
        span  Try again and start a new deposit.

  a.btn.btn-primary.w-100.mb-3.p-2.fw-bold.text-truncate(href=`/` role="button") Restart
