@import "bootstrap/bootstrap";

.container {
  max-width: 360px;
  max-height: 580px;
}


.error-text {
  font-size: 500%;
}
// .qrCode {
//   --size: 164px;

//   height: var(--size);
//   width: var(--size);
// }

// .dropdown-toggle {
//   &:active,
//   &:focus,
//   &:hover,
//   &:focus-visible {
//     background-color: $light !important;
//   }
// }

// .iconCurrency {
//  height: 16px;
//  width: 16px;
// }
